%background{
    background-color: rgba(247, 246, 242, 0.6);
	width: 40%;
	margin-left: 30%;
	margin-right: 40%;
    padding: 16px;
    text-align: center;
    border-radius: 25px;
}

.loginBg{
    @extend %background;
    font-family: 'Times New Roman';
    font-size: large;
}


.registerBg{
    @extend %background;
    font-family: Arial;
    font-size: medium;
}
